.App-header {
  background: linear-gradient(135deg,#a8edea,#fed6e3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.frosted-glass {
  background-color: rgb( 255, 255, 255, 0.4);

  display: flex;
  flex-direction: column;

  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: -10px 5px 10px 0px rgb(30 30 30 / 25%);

  height: 75vh;
  width: 80vw;
  max-width: 750px;

  margin: auto;
  padding: 20px;
}

.community-name {
  font-weight: bold;
}